@using BlogSystem.Web.Areas.Administration.ViewModels;

@{
    const string ControllerName = "BlogPosts";
    ViewBag.Title = ControllerName;
}
<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid<PageViewModel>()
    .Name("grid")
    .Columns(cols =>
                    {
                        cols.AutoGenerate(true);
                        cols.Command(c => c.Edit());
                        cols.Command(c => c.Destroy());
                    })
    .ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
                    .ToolBar(toolbar =>
                    {
                        toolbar.Custom().Action("Create", "BlogPosts", new { area = "Administration" }).Name("custom-toolbar-create-product-button").Text("Create post");
                    }).DataSource(data => data
    .Ajax()
    .Model(m => m.Id(x => x.Id))
        .Read(read => read.Action("Read", "BlogPosts"))
        .Update(update => update.Action("Update", "BlogPosts"))
        .Destroy(destroy => destroy.Action("Destroy", "BlogPosts"))
    ))