@model IEnumerable<BlogSystem.Web.ViewModels.NavigationElement>

@foreach (var page in Model)
{
    <li class="col-md-2 page">
        <a href="/@ViewBag.User/Page/@page.Title">
            @page.Title
        </a>
    </li>
}


