@using BlogSystem.Web.Areas.Administration.ViewModels;

@{
    const string ControllerName = "Categories";
    ViewBag.Title = ControllerName;
}
<h2>@ViewBag.Title</h2>
@(Html.FullFeaturedGrid<CategoryViewModel>(ControllerName, m => m.Id))
