@model IEnumerable<BlogSystem.Web.ViewModels.Post.BlogPostViewModel>
@foreach (var post in Model)
{
    <div class="post-title">
        <h2 class="page-title">
            <a href="/@ViewBag.User/@post.Title">@post.Title</a>
        </h2>
        <small>
            Posted : @post.DateCreated in
            <a href="/@ViewBag.User/Category/@post.CategoryName">@post.CategoryName</a>
        </small>
    </div>
}
