@model IEnumerable<BlogSystem.Web.ViewModels.Post.BlogPostViewModel>


<div class="posttitle">
    <h2 class="pagetitle"><a href="http://viktordakov.wordpress.com/2014/05/20/falling-rocks-game-2/" rel="bookmark" title="Permanent Link to Falling Rocks Game" sl-processed="1">Falling Rocks Game</a></h2>
    <small>
        Posted: May 20, 2014 in <a href="http://viktordakov.wordpress.com/category/uncategorized/" rel="category tag" sl-processed="1">Uncategorized</a>		<br>
        Tags: <a href="http://viktordakov.wordpress.com/tag/programming/" rel="tag" sl-processed="1">Programming</a>, <a href="http://viktordakov.wordpress.com/tag/source-code/" rel="tag" sl-processed="1">Source code</a>
    </small>
</div>