html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-size: 62.5%;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    background: #bcc5c1;
    color: #333;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
    padding: 0px 25px;
    background: #bcc5c1;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-11, .col-md-12 {
    margin-left: -15px;
    margin-right: -15px;
}

#wrapper {
    min-height: 1000px;
    background: url(images/background.jpg) top center no-repeat;
    background-size: cover;
}

#administration-wrapper {
    padding: 100px;
}

header {
    height: 40vh;
}

    header ul {
        list-style: none;
        margin: 0;
    }

    header a {
        color: #fff;
        display: block;
        font-weight: bold;
        margin: 6px 15px 0 10px;
        padding: 5px 10px 5px 10px;
        font-size: 1.2em;
        text-decoration: none;
    }

        header a.selected {
            font-size: 1.8em;
        }

#content-wrapper {
    text-align:left;
    padding:30px 34px;
}

.red {
    background: url(images/section-background.jpg)repeat-y;
    background-size: 100% 100%;
    /*padding-right: 7%;*/
}

#sidebar {
    background: url(images/sidebar-background.jpg)no-repeat 0 0;
    height: 500px;
    padding: 75px 0 10px 28px;
    background-size: 100% 100%;
    font: 1.1em Tahoma, Arial, Sans-Serif;
    color: #fff;
    text-align: left;
}

    #sidebar a {
        color: white;
    }

    #sidebar ul li {
        list-style-type: none;
        list-style-image: none;
        margin-bottom: 18px;
    }

    #sidebar h2 {
        margin: 5px 0 0;
        width: 100%;
        line-height: 32px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 2px 0 0 47px;
        background: url(images/sidebar-category.jpg) top left no-repeat;
        background-size: 100%;
        color: #eef0eb;
        font-family: Tahoma, Verdana, Sans-Serif;
        font-size: 1.2em;
        font-weight: bold;
    }

    #sidebar ul ol, #sidebar ul ul {
        margin: 5px 0 0 20px;
    }

    #sidebar ul, #sidebar ul ol {
        margin: 0;
        padding: 0;
    }

        #sidebar ul li ul li, #sidebar ul li ol li {
            background: url(images/sidebar-bullet.jpg) top left no-repeat;
            padding: 0 0 0 20px;
            margin: 5px 20px 10px 0;
        }

#content-wrapper {
    background: url(images/content-background.jpg) top center no-repeat;
    height: 500px;
    background-size: 100% 100%;
    width: 56vw;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.posttitle {
    width: 537px;
    float: left;
    margin-top: 20px;
    padding: 0 0 18px 43px;
    background: url(images/arrow.gif) top left no-repeat;
}

h2.pagetitle {
    margin-top: 0px;
    width: 512px;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    font-family: impact, Verdana, Arial, Sans-Serif;
    color: #cc0000;
    text-decoration: none;
}

    h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
        font-family: impact, Verdana, Arial, Sans-Serif;
        color: #cc0000;
        text-decoration: none;
    }

a {
    color: #cc0000;
    text-decoration: none;
}

small a {
    color: #747775;
    font-weight: bold;
}

h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    font-family: impact, Verdana, Arial, Sans-Serif;
    color: #cc0000;
    text-decoration: none;
}

h2 {
    font-size: 2.8em;
    font-family: impact;
    font-weight: normal;
    padding-bottom: 9px;
}
