html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    font-size: 62.5%;
    font-family: Tahoma, Verdana, Arial, Sans-Serif;
    background: #bcc5c1;
    color: #333;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0;
}

h1, h1 a, h1 a:hover, h1 a:visited, #header .description {
    text-decoration: none;
    color: #000;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h1 {
    font-size: 4.8em;
    font-family: impact;
    text-transform: uppercase;
    padding: 0 0 0 39px;
}

    h1, h1 a, h1 a:hover, h1 a:visited, #header .description {
        text-decoration: none;
        color: #000;
    }

#wrapper {
    background: url(images/background.jpg) top center no-repeat;
    min-width: 1054px;
}

.infinite-scroll #page {
    position: relative;
    padding-bottom: 20px;
}

#page {
    margin: 0px auto;
    padding: 0;
    width: 1054px;
    text-align: left;
}

.menu-header {
    margin-left: 80px;
    position: absolute;
    width: 900px;
}

    .menu-header ul {
        list-style: none;
        margin: 0;
    }

    .menu-header li {
        float: left;
        position: relative;
    }

    .menu-header ul li.current_page_item > a, .menu-header ul li.current-menu-item > a {
        background-color: #cc0000;
        color: #fff;
    }

    .menu-header ul li.current_page_item > a, .menu-header ul li.current-menu-item > a {
        background-color: #cc0000;
        color: #fff;
    }

    .menu-header a {
        color: #fff;
        display: block;
        font-weight: bold;
        margin: 6px 15px 0 10px;
        padding: 5px 10px 5px 10px;
        font-size: 1.2em;
        text-decoration: none;
    }

a {
    color: #cc0000;
    text-decoration: none;
}

#header {
    margin: 0px;
    padding: 0;
    height: 260px;
    width: 1054px;
    color: #000;
}

h1 {
    padding-top: 115px;
    margin: 0;
}

#header .description {
    font-size: 1.4em;
    padding: 0 0 0 39px;
    font-weight: bold;
}

#header .rss {
    font-size: 1.2em;
    padding: 0 0 0 768px;
    font-weight: bold;
    text-transform: lowercase;
}

    #header .rss a {
        color: #000;
    }

#blog-container {
    width: 1054px;
    background: url(images/container-bg.jpg) top center repeat-y;
    margin: 0 auto;
}


#sidebar {
padding: 75px 0 10px 28px;
    background: url(Images/sidebar-background.jpg) no-repeat 0 0;
float: left;
width: 275px;
min-height: 613px;
overflow: hidden;
}
#sidebar {
    font: 1.1em Tahoma, Arial, Sans-Serif;
    color: #fff;
}

    #sidebar ul, #sidebar ul ol {
        margin: 0;
        padding: 0;
    }

        #sidebar ul li {
            list-style-type: none;
            list-style-image: none;
            margin-bottom: 18px;
        }

    #sidebar h2 {
        margin: 5px 0 0;
        line-height: 32px;
        font-size: 12px;
        text-transform: uppercase;
        padding: 2px 0 0 47px;
        background: url(images/sidebar-category.jpg) top left no-repeat;
        color: #eef0eb;
        font-family: Tahoma, Verdana, Sans-Serif;
        font-size: 1.2em;
        font-weight: bold;
    }

    #sidebar h2, #wp-calendar caption, cite {
        text-decoration: none;
    }

    #sidebar ul ul, #sidebar ul ol {
        margin: 5px 0 0 20px;
    }

    #sidebar ul, #sidebar ul ol {
        margin: 0;
        padding: 0;
    }

        #sidebar ul li ul li, #sidebar ul li ol li {
            background: url(images/sidebar-bullet.jpg) top left no-repeat;
            padding: 0 0 0 20px;
            margin: 5px 20px 10px 0;
        }

        #sidebar ul ul li, #sidebar ul ol li {
            margin: 3px 0 0;
            padding: 0;
        }

        #sidebar ul li {
            list-style-type: none;
            list-style-image: none;
            margin-bottom: 18px;
        }

    #sidebar a {
        color: #fff;
    }

#content {
    width: 751px;
    float: left;
    background: url(images/content-background.jpg) top center no-repeat;
}

.infinite-scroll #content-inner {
    padding-bottom: 50px;
}

.column {
    padding: 30px 0 20px 34px;
    margin: 0px 0 0;
    width: 648px;
    min-height: 613px;
}

.post {
    margin: 0px;
}

.posttitle {
    width: 537px;
    float: left;
    margin-top: 20px;
    padding: 0 0 18px 43px;
    background: url(images/arrow.gif) top left no-repeat;
}

h2.pagetitle {
    margin-top: 0px;
    width: 512px;
}

h2 {
    font-size: 2.8em;
    font-family: impact;
    font-weight: normal;
    padding-bottom: 9px;
}

small, .nocomments, blockquote, strike {
    color: #747775;
}

    small a {
        color: #747775;
        font-weight: bold;
    }

small {
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    font-size: 1.1em;
    line-height: 1.6em;
    padding-bottom: 1.4em;
}

.postcomments {
    width: 65px;
    height: 40px;
    background: url(images/bubble.gif) top left no-repeat;
    float: left;
    padding-top: 8px;
    margin: 20px 0 0;
    text-align: center;
    font-size: 1.17em;
}

    .postcomments a {
        font-weight: bold;
        color: #cc0000;
        font-size: 1.17em;
    }

.column .entry {
    clear: left;
    line-height: 1.4em;
    font-size: 1.2em;
    line-height: 1.8em;
    padding-bottom: 10px;
}

    .column .entry p {
        margin-bottom: 1.8em;
    }
    #footer-bott {
padding: 15px 0 0 0;
margin: 0 auto;
min-width: 1054px;
height: 295px;
background: #bcc5c1 url(images/footerbar.jpg) top center no-repeat;
clear: both;
color: #fff;
font-size: 1.1em;
text-align: center;
}#footer {
padding: 30px 0;
margin: 0 auto;
overflow: hidden;
width: 100%;
min-height: 15px;
background: #bcc5c1 url(images/bottom.jpg) top center no-repeat;
clear: both;
}
.reset,.reset div,.reset dl,.reset dt,.reset dd,.reset ul,.reset ol,.reset li,.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6,.reset pre,.reset form,.reset fieldset,.reset input,.reset textarea,.reset p,.reset blockquote,.reset th,.reset td
{margin:0;padding:0;}

.reset table
{border-collapse:collapse;border-spacing:0;}

.reset fieldset,.reset img
{border:0;}

.reset address,.reset caption,.reset cite,.reset code,.reset dfn,.reset em,.reset strong,.reset th,.reset var
{font-style:normal;font-weight:normal;}

.reset ol,.reset ul
{list-style:none;}

.reset caption,.reset th
{text-align:left;}

.reset h1,.reset h2,.reset h3,.reset h4,.reset h5,.reset h6
{font-size:100%;font-weight:normal;}

.reset q:before,.reset q:after
{content:'';}

.reset abbr,.reset acronym
{border:0;}